<div class="detail-main-container d-flex flex-column justify-content-center align-items-center">
    <div class="container shadow-lg rounded detail-container d-flex justify-content-around align-items-center">
        <div class="img-card-detail">
            <img src="../../../assets/img/itemsShop/ipad3.jpeg" class="img-detail">
        </div>
        <div class="d-flex justify-content-around flex-column align-items-center detail-text">
            <div class="pb-4">
                <h5 class="card-title mb-4">iPhone 13 Pro Max</h5>
                <p class="card-text">Silver, 128GB, A15 Bionic chip, 6‑core CPU with 2 performance and 4 efficiency cores, 5‑core GPU, 16‑core Neural Engine</p>
            </div>
            <div class="d-flex justify-content-between align-items-center buttons-details">
                <span class="fs-4 fw-bold">$ 340</span>
                <button class="btn btn-primary fs-6">Add to cart</button>
            </div>
        </div>
    </div>
</div>
